/*primary color*/
.bg-cream {
    background-color: #090a0c;
}

/* Login cta */
.cta{
    background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
    color: #fff;
    /* font-size: 12px;
    margin-bottom: 20px; */
}

/* freq */

/* Question Section */
.section-f{
    color: white;
    min-height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20%;
    overflow: hidden;
  }
  .fre{
    font-size: 2em;
    margin-bottom: 20px;
    background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(20deg, cyan, magenta);
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px; */
  }
  
  .quest{
    background: #091222;
    padding: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  .quest:hover{
    background-color: #132748;
  }
  
  .ans{
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
  }
  
  .faq i{
    transition: all .3s ease-in-out;
  }
  
  .faq-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq.active .ans{
    max-height: 300px;
  }
  
  .faq.active i{
    transform: rotate(45deg);
  }
  
  .ans p{
    background: #091222;
    padding: 30px;
    font-size: 10px;
    border-top: 1px solid gray;
  }

  /* Discover */
#dico {
  padding: 20px;
  color: white;
  background: transparent;
}
#dico h2 {
  font-size: 2.5em;
  background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#dico p {
  font-size: 1em;
}
#dico .btn {
  font-size: 1em;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  #dico h2 {
      font-size: 3em;

  }
  #dico p {
      font-size: 15px;
  }
  #dico .btn {
      font-size: 0.9em;
      border: none;
      color: white;
  }
  #dico .row {
      flex-direction: column;
      text-align: center;
  }
  #dico img {
      margin-top: 20px;
      width: 100%;
  }
}

/* Set Card */
.set-card{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, cyan, magenta);
  -webkit-background-clip: text;
}
.card {
  margin-bottom: 20px;
}
.card-body i {
  font-size: 2em;
}
@media (max-width: 768px) {
  .card-body i {
      font-size: 1.5em;
  }
  .card-title {
      font-size: 1.2em;
  }
  .card-text {
      font-size: 0.9em;
  }
}

/* Anime */
/* .anime{
    min-height: 100vh;
    width: 50%;
    background-image: url('../video/anime.mp4');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    padding: 0 8%;
    background-color: #090a0c;

} */

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.bg-yellow-500 {
    background-color: #111827;
}
.text-yellow-500 {
    color: #F48C06;
}
.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
}
.text-darken {
    color: #2F327D;
}

/* Start F&Q Section */
h2{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, cyan, magenta);
  -webkit-background-clip: text;

}

section{
  background: transparent;
  color: white;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 2.1rem;
  margin: 2rem 0rem;
}

.faqs{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid magenta;
  cursor: pointer;
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3{
  font-size: 1.4rem;
  font-weight: semibold;
}

.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease;
}

.answer p{
  line-height: 1.6;
  font-size: 1.1rem;
}

.faqs.active .answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faqs.active i{
  transform: rotate(180deg);
}

i{
  transition: transform .5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* End F&Q Section */